

/*
font-family: 'Open Sans', sans-serif;
*/

body{
    font-family: 'lato', sans-serif;
    font-family:'Open Sans', sans-serif; 
}

/* navigation-menu-part-start */

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
 

.navigation-title{
color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.navigation-title-span-tag-color{
    color:#FD6E0A;

}


nav >ul{
    display:flex;
    align-items: center;
}

nav li{
    list-style-type: none;
    margin-right:50px;
}

nav a{
    text-decoration: none;
    color:#474747;
}

.navigation-button{
    background-color: #FD6E0A;
    border:none;
    font-size: 20px;
    font-weight: 700;
    font-style:normal;
    color:#ffffff;

    padding: 18px 35px;
    border-radius:5px;
}

/* navigation-menu-part-end */

/* header-hero-area-start */ 

.header{
    background-color:#FFF8F3;;
}

.header-hero-section{
    display:flex;
    padding: 30px 30px 30px 150px;
    align-items: center;

}

.profile-picture{
    width: 584px;
    height: 676px;
}